[submodule "extern/libdatachannel"]
	path = extern/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/tomlplusplus"]
	path = extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/libsodium"]
	path = extern/libsodium
	url = https://github.com/jedisct1/libsodium.git
